* {
  margin: 0;
  padding: 0;
}
#root {
  position: relative;
}

.movies_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  gap: 15px;
  z-index: 1;
}
.movie {
  width: 600px;
  display: flex;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  /* border: 1px solid black; */
  border-radius: 25px;
  box-shadow: 0px 2px 5px 2px rgb(237, 232, 232);
}

.poster {
  width: 150px;
  height: 100%;
  border-radius: 20px;
}
.review {
  width: 100%;
}
.rating_date {
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.rating {
  width: 40px;
  text-align: center;
  padding: 2px 10px;
  color: rgb(242, 241, 239);
  border-radius: 5px;
  background-color: rgb(182, 146, 4);
}
.heading {
  font-size: 28px;
  line-height: 25px;
}
.film_review {
  margin: 5px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-container {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.profile-image {
  width: 180px;
  border-radius: 50%;
}
.user-name {
  font-size: 35px;
}
.reviews-heading {
  font-size: 30px;
  text-align: center;
  color: rgb(244, 238, 227);
  background-color: #605474;
  padding: 5px 0;
}
.category {
  font-size: 25px;
  font-weight: 600;
  line-height: 26px;
}
.info {
  margin-left: 15px;
}
.edit {
  margin-top: 5px;
  padding: 2px 10px;
  border-radius: 10px;
  border: none;
}
.edit:hover {
  cursor: pointer;
  background-color: #e2dfdf;
}
.overlay {
  position: fixed;

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(108, 106, 106, 0.9);
  z-index: 2;
}
.hidden {
  display: none;
}
.categories {
  padding: 10px;
  width: 500px;

  position: absolute;
  z-index: 10;
  border: 2px solid rgb(233, 237, 233);
  background-color: rgb(217, 212, 212);
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  color: rgb(73, 71, 71);
}
.category-heading {
  font-size: 30px;
  text-align: center;
  padding: 10px 0 20px 0;
}
input {
  margin: 0 0 0 2px;
}
.label-category {
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 0 10px;
  margin: 0 10px 0 0;
  width: 150px;
}
.category-checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}
.scroll {
  overflow-y: scroll;
}
.btn-container {
  margin: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.btn {
  padding: 10px 18px;
  font-size: 16px;
  font-weight: 900;
  border: none;
  border-radius: 15px;
  border: 2px solid transparent;
}
.btn:hover {
  background-color: #dddbdb;
  cursor: pointer;
  border: 2px solid rgb(242, 238, 238);
}
.no-scroll {
  overflow: hidden;
}

.edit-delete-btn-review {
  margin: 2px 2px 0 0;
  padding: 4px 10px;
  border-radius: 10px;
  border: none;
  width: 60px;
}
.edit-delete-btn-review:hover {
  cursor: pointer;
  background-color: #e2dfdf;
}
.overlay-review {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(108, 106, 106, 0.9);
  z-index: 100;
}
.edit-review-container {
  padding: 10px;
  width: 500px;

  position: absolute;
  z-index: 10;
  border: 2px solid rgb(233, 237, 233);
  background-color: rgb(217, 212, 212);
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  color: rgb(73, 71, 71);
}
.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  margin: 2px 0;
  padding: 0 0;
}

.input-rating {
  padding: 5px 10px;

  text-align: center;
  border: 2px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
}

.input-comment {
  text-align: left;
}

.user-image {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-img {
  width: 80px;
  border-radius: 50%;
  user-select: none;
}
.input-box {
  padding: 5px 10px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  width: 300px;
}
.align-input {
  text-align: center;
}
